
#navbarScroll {
  display: flex;
  justify-content: space-around !important;
  background-color: black !important;
  
}

.navbar>.container-fluid{
  display: flex !important ;
  justify-content: space-around !important;
  flex-wrap: none !important;
  align-items: center !important;
  color: white;
  padding: 2px !important;
  margin: 2px !important;

}
a > .navbar-brand {
  width: 150px !important;
  height: 30px !important;
  margin: 0px;
  padding: 0px;
  flex-wrap: none !important;
}
.navbar-collapse{
  flex-grow: 1 !important;
    align-items: center !important;
    flex-basis: 700px !important;
}
.container{
  
  height: 95%;
  background-color: rgb(6, 5, 5);
  max-width: 100% !important;
  min-width: 100% !important;
  margin-top:80px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-text{
  min-width:271px !important;
  max-width:271px !important;
  min-height: 150px !important;
  max-height: 150px !important;
  border: 5px !important;


}

.d-block-w-100 img{
  width: 100%;
  height: 50px;

}
.carousel-item>.d-block-w-100{
  width: 100%;
  height: 745px;
}

.addmov{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-top: 5px;
  height: 45px;
  border-radius: 5px;
  background-color: black;

}








.fav h1{
  size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}
.box{
  box-shadow: 11px -10px 28px 2px rgba(243,243,243,0.75);
-webkit-box-shadow: 11px -10px 28px 2px rgba(243,243,243,0.75);
-moz-box-shadow: 11px -10px 28px 2px rgba(243,243,243,0.75);

transform: scale(1,1);
border-style: solid;
border-width: 1px;
display: block;

transition: width 2s, height 2s, background-color 2s, rotate 2s;
}
.box:hover {
  background-color: #585454;
  width: 23rem;
  height: 250px;
  transform: translateX(-30px) translateY(-30px);
  }
  .containermovies {
    height: 450px;
    background-color: rgb(6, 5, 5);
    max-width: 100% !important;
    min-width: 100% !important;
    margin-top: 45px !important;
    margin-left: 0px !important;
    margin-right: 10px;
    padding-top: 45px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}




* {
  box-sizing: border-box;
}


.cardd {
  width:250px !important;
  height: 350px !important;
  position: relative !important;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  flex-wrap: none;
  padding: 36px !important;
  perspective: 2500px;
  margin: 50px !important;
}
a{
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapperr {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.cardd:hover .wrapperr {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapperr::before,
.wrapperr::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapperr::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapperr::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.cardd:hover .wrapperr::before,
.wrapper::after {
  opacity: 1;
}

.cardd:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  width: 178px;
  height: 97;
  transition: transform 0.5s;
}
.cardd:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.cardd:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
 a{
  
  display: flex !important;
  justify-content: center !important;
 
 }


.App{background-color: black;}



.img{
    border: 1px solid #090909;
    border-radius: 50%;
    padding: 3px;
    width: 475px;
    height: 498px;
    margin-top: 50px !important;
    margin-left: 100px !important;
  
    box-shadow: 10px -12px 38px 0px rgba(250,236,236,0.61);
-webkit-box-shadow: 10px -12px 38px 0px rgba(250,236,236,0.61);
-moz-box-shadow: 10px -12px 38px 0px rgba(250,236,236,0.61);
}
h1{
  color: rgb(247, 14, 14);
  size: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  display: flex;
  justify-content: center;
  margin-top: 75px !important;
    margin-bottom: 2.5rem !important;
   
    line-height: -0.8 !important;
 

}

p{
  color: white;
  margin-right: 50px !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  margin-left: 50px !important;
  margin-right: 50px !important;

 
}
.about{
  display: flex;
  margin-bottom: 50px;
  margin-top: 30px;
  height:600px;

}
.form{
  
  color: white;
  size: 500px;
  margin-left: 150px !important;
  margin-right: 350px !important;
  height: 500px;
  width: 600px;
  padding-top: 110px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  background: rgb(6, 6, 6);
  border-radius: 80% !important;

}
.contact{
  background: radial-gradient(circle, rgba(146,151,175,1) 0%, rgba(13,11,11,1) 100%);
 height: 800px;
 display: flex;
 justify-content: center;
 padding-top: 50px;
 


}
.contactus{
  width: 400px;
  height: 300px;
  margin-top: 30px;
  padding: 20px;
  margin-left: 20px;
  
}
.cartfilm{
  display: flex;
  justify-content: space-around;
}
.photo{
  width: 450px;
  height: 550px;
  margin: 30px;
  padding: 20px;
}
.desc h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:100px;
  font-weight: bold;
  font-style: italic;
}
.Na{
  margin-left: 300px !important;
  size: 450px !important;
}









